services:
  headscale:
    container_name: headscale
    image: headscale/headscale:0.28.0
    restart: unless-stopped
    ports:
      - "3478:3478/udp" # DERP/STUN
    volumes:
      - ${PODMAN_DATA}/headscale/config:/etc/headscale
      - ${PODMAN_DATA}/headscale/data:/var/lib/headscale
      - ${PODMAN_DATA}/certs:/etc/headscale/certs:ro
    entrypoint: headscale serve
    labels:
      me.tale.headplane.target: headscale
    networks:
      headscale-net: {}

  headplane:
    image: ghcr.io/tale/headplane:0.6.2-beta.5
    container_name: headplane
    restart: unless-stopped
    volumes:
      - ${PODMAN_DATA}/headplane/config/config.yaml:/etc/headplane/config.yaml
      - ${PODMAN_DATA}/headscale/config/config.yaml:/etc/headscale/config.yaml
      - ${PODMAN_DATA}/headplane/data:/var/lib/headplane
      - ${PODMAN_DATA}/headscale/data:/var/lib/headscale
      - ${PODMAN_DATA}/socket/podman.sock:/var/run/docker.sock:ro
    networks:
      headscale-net:
        aliases:
          - headplane
    depends_on:
      - headscale

  caddy:
    image: ghcr.io/tsuki-tsuki/caddy:2.10.2
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ${PODMAN_DATA}/caddy/config:/etc/caddy
      - ${PODMAN_DATA}/caddy/site:/srv
      - ${PODMAN_DATA}/caddy/data:/data
      - ${PODMAN_DATA}/caddy/run:/config
      - /var/run/tailscale/tailscaled.sock:/var/run/tailscale/tailscaled.sock:ro
    networks:
      headscale-net: {}

networks:
 headscale-net:
   driver: bridge
