services:
 headscale:
   container_name: headscale
   image: headscale/headscale:latest
   restart: unless-stopped
   ports:
     - "28011:8080" # Client traffic
     - "3478:3478/udp" # DERP/STUN
   volumes:
     - ~/podman/headscale/config:/etc/headscale
     - ~/podman/headscale/data:/var/lib/headscale
     - ~/podman/certs:/etc/headscale/certs:ro
   entrypoint: headscale serve
   labels:
     me.tale.headplane.target: headscale
   networks:
     headscale-net: {}

 headplane:
   image: ghcr.io/tale/headplane:0.6.2-beta.5
   container_name: headplane
   restart: unless-stopped
   volumes:
     - '~/podman/headplane/config/config.yaml:/etc/headplane/config.yaml'
     - '~/podman/headscale/config/config.yaml:/etc/headscale/config.yaml'
     - '~/podman/headplane/data:/var/lib/headplane'
     - '~/podman/headscale/data:/var/lib/headscale'
     - '~/podman.sock:/var/run/docker.sock:ro'
   networks:
     headscale-net:
       aliases:
         - headplane
   depends_on:
     - headscale

networks:
 headscale-net:
   driver: bridge